altgraph==0.17
anyio==3.3.0
appdirs==1.4.4
arabic-reshaper==2.1.3
arrow==1.1.0
asgiref==3.3.4
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
authy==2.2.6
auto-py-to-exe==2.9.0
autopep8==1.5.6
Babel==2.9.1
beautifulsoup4==4.9.3
bidict==0.21.2
binaryornot==0.4.4
bleach==3.3.0
bottle==0.12.19
bottle-websocket==0.2.9
Cartridge==0.13.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cookiecutter==1.7.2
cookiejar==0.0.3
cryptography==3.4.7
defusedxml==0.7.1
Delorean==1.0.0
distlib==0.3.2
Django==3.1.13
django-allauth==0.40.0
django-contrib-comments==2.0.0
django-cors-headers==3.2.1
django-cors-middleware==1.5.0
django-crispy-forms==1.11.2
django-extra-views==0.13.0
django-htmlmin==0.11.0
django-htmx==1.2.1
django-lifecycle==0.9.1
django-localflavor==3.1
django-markdown==0.8.4
django-material==1.9.0
django-materializecss-form==1.1.17
django-phonenumber-field==5.2.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
django-taggit==1.4.0
django-twilio==0.13.1.post0
django-widget-tweaks==1.4.8
djangorestframework==3.11.2
Eel==0.12.4
filebrowser-safe==0.5.0
filelock==3.0.12
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
grappelli-safe==0.5.2
greenlet==1.1.0
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
httpcore==0.13.6
httpx==0.18.2
humanize==3.7.1
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
jinja2-time==0.2.0
keyboard==0.13.5
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.10.0
mechanize==0.4.5
Mezzanine==4.3.1
multidict==5.1.0
oauthlib==3.1.0
packaging==20.9
pager==3.3
parse==1.19.0
pefile==2021.5.24
phonenumbers==8.12.22
Pillow==8.2.0
pipenv==2021.5.29
pluggy==0.13.1
poyo==0.5.0
prettytable==2.1.0
psycopg2-binary==2.9.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyTelegramBotAPI==3.7.7
pytest==6.2.4
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.17.1
python-engineio==4.2.0
python-slugify==5.0.2
python-socketio==5.3.0
python-stdnum==1.16
python3-openid==3.2.0
pytz==2021.1
pywin32-ctypes==0.2.0
reportlab==3.5.67
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
scapy==2.4.5
selenium==3.141.0
sentry-sdk==1.0.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
sourcery-cli==0.9.4
sqlparse==0.4.1
stripe==2.56.0
text-unidecode==1.3
toml==0.10.2
twilio==6.57.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
urlman==2.0.1
virtualenv==20.4.7
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
whichcraft==0.6.1
whitenoise==5.2.0
xhtml2pdf==0.2.5
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
