<!DOCTYPE html>
{% load static %}
<html lang="en" data-random-animation="false" data-animation="36">
    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="vcard, resume, personal, portfolio, cv, card, responsive" />
        <meta name="description" content="vCard / Resume / Personal / Portfolio Template" />
        <meta name="author" content="cosmos-themes" />

        <!--Page Title-->
        <title>Dominic's Profile</title>

        <!--Plugins Css-->
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <!--Main Styles Css-->
        <link rel="stylesheet" href="{% static 'css/style-dark.css' %}">
        <!--Color Css-->
        <link rel="stylesheet" href="{% static 'css/blue-color.css' %}">

        <!--Modernizr Js-->
        <script src="{% static 'js/modernizr.js' %}"></script>

        <!--Favicons-->
        <link rel="shortcut icon" href="i{% static 'mg/favicon.ico' %}" type="image/x-icon">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122650090-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-122650090-3');
        </script>

    </head>

    <body>

        <!--Preloader Start-->
        <div class="preloader">
            <div class="loader">
                <!--Your Name-->
                <h4>Dominic Yeboah</h4>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!--Preloader End-->


        <div id="page">


            <!--Header Start-->
            <header>
                <div class="header-content">

                    <!--Mobile Header-->
                    <div class="header-mobile">
                        <a class="header-toggle"><i class="fas fa-bars"></i></a>
                        <h2>Dominic Yeaboah</h2>
                    </div>

                    <!--Main Header-->
                    <div class="header-main" data-simplebar>
                        <div class="image-container">
                            <h2 class="header-name">Dominic Yeboah</h2>
                            <img src="{% static 'img/dom.jpg' %}" height="500px" width="500px" alt="profile-pic">
                        </div>

                        <!--Nav Menus-->
                        <nav class="nav-menu">
                            <ul>
                                <li><a href="{% url 'index' %}#home"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Home </a> </li>
                                <li><a href="{% url 'index' %}#about"><span class="nav-menu-icon"><i class="lnr lnr-user"></i></span>About Me</a></li>
                                <li><a href="{% url 'index' %}#resume"><span class="nav-menu-icon"><i class="lnr lnr-license"></i></span>Resume</a></li>
                                <li><a href="{% url 'index' %}#portfolio"><span class="nav-menu-icon"><i class="lnr lnr-briefcase"></i></span>Portfolio</a></li>
                                <li><a href="{% url 'index' %}#blog" class="active"><span class="nav-menu-icon"><i class="lnr lnr-book"></i></span>Blog</a></li>
                                <li><a href="{% url 'index' %}#contact"><span class="nav-menu-icon"><i class="lnr lnr-envelope"></i></span>Contact</a></li>
                            </ul>
                        </nav>

                        <!--Nav Footer-->
                        <div class="nav-footer">
                            <!--Social Links-->
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance-square"></i></a></li>
                            </ul>
                          
                        </div>

                    </div>
                </div>
            </header>
            <!--Header End-->


            <!--Main Start-->
            <div id="main" class="site-main">

                <div class="blog-page">
                    <div class="blog-image">
                        <img src="{% static 'img/blog/blog-page-img.jpg' %}" alt="">
                    </div>
                    <div class="blog-container">
                        <div class="row">

                            <!--Blog Heading Start-->
                            <div class="blog-heading col-md-8 offset-md-2">
                                <span class="cat">Fashion</span>
                                <h1>Welcome to my blog</h1>
                                <span class="blog-date">January 20, 2018</span>
                            </div>
                            <!--Blog Heading Start-->

                            <!--Blog Content Start-->
                            <div class="blog-content col-md-10 offset-md-1">
                                <p>Consectetur rerum veniam vitae sequi voluptatibus unde soluta dolorum. Sint maxime ducimus tenetur vitae corrupti saepe. Veniam sit ea aliquid odit officiis. Quisquam at labore eum commodi in eius In quisquam a a eaque fuga? Debitis magnam deserunt libero voluptates esse at possimus? Voluptatum voluptates exercitationem voluptatum accusantium doloremque nihil, nihil molestias voluptatibus, minus nostrum, aliquid Quisquam neque fugiat quos veniam facere Dicta eaque laboriosam ut voluptas ipsum Officiis nisi maxime soluta optio ipsum quam Dolores aperiam explicabo sed quas unde laborum molestiae. Porro cum incidunt enim minus nisi excepturi rerum! Exercitationem quia excepturi reiciendis illum velit! Consequatur tempora nihil </p>
                                <p>
                                    Sit exercitationem accusamus repudiandae libero natus vero aut Consectetur magni totam sint animi expedita? Eos consequatur facilis corrupti voluptatibus asperiores dolorum vitae ipsa laudantium repellat Voluptates voluptates corporis illum ut asperiores possimus officiis! Laborum rerum eaque minus harum doloremque debitis Ducimus sed commodi commodi illo aliquam. Magnam ipsa blanditiis blanditiis veniam aut Magni unde voluptates culpa dicta placeat! Incidunt delectus beatae excepturi perspiciatis libero praesentium illo Atque sit asperiores unde dolorem cupiditate, nostrum Alias illum voluptate eos commodi modi? Minus est fugiat labore earum obcaecati, omnis. Dicta fugit quod harum eius atque? Exercitationem impedit deleniti quidem voluptas eum cupiditate Consectetur
                                </p>
                                <blockquote>
                                    Consectetur omnis eveniet possimus est necessitatibus. Dolorum magnam officiis ad fugit cumque? Voluptatibus laboriosam incidunt voluptatum beatae dignissimos, nostrum iusto error Optio quam modi adipisci cumque delectus Voluptates iusto doloremque.
                                </blockquote>
                                <p>
                                    Dolor amet culpa esse cum in? Id ab neque ipsa sapiente impedit doloremque quod. Velit veniam in odio voluptatem doloribus Minus laborum voluptates sed ea vel? Aspernatur in quos nulla veniam tempore In quibusdam reprehenderit maiores iste ab Est quae magni nemo repudiandae soluta? Eius qui veniam voluptatem iure molestiae
                                </p>
                            </div>
                           

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!--Jquery JS-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!--Plugins JS-->
        <script src="{% static 'js/plugins.min.js' %}"></script>
        <!--Site Main JS-->
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
